@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 200 800;
    src: url('/fonts/SF-Pro.ttf') format('truetype');
}

@theme {
    -- : "Plus Jakarta Sans", sans-serif;
}

@layer base {
    :root {
        font-family: 'SF Pro Display', sans-serif;
        scroll-behavior: smooth;
    }
}