---
import AboutMotion from "../AboutMotion";
import TechSkills from "../TechSkills.astro";

const techSkills = [
    "Python",
    "PHP",
    "JavaScript",
    "TensorFlow",
    "Keras",
    "PyTorch",
    "Ultralytics YOLO",
    "Scikit-Learn",
    "OpenCV",
    "Mediapipe",
    "Pandas",
    "NumPy",
    "Matplotlib",
    "Seaborn",
    "Flask",
    "MySQL",
    "Microsoft SQL Server",
];
---

<section class="w-full min-h-screen overflow-hidden relative" id="about">
    <AboutMotion client:load>
        {
            techSkills.map((tech: string) => (
                <TechSkills tech={tech} size="medium"/>
            ))
        }
    </AboutMotion>
</section>
