---
import ExperienceMotion from "../ExperienceMotion"
---

<section class="w-full min-h-screen overflow-hidden relative" id="experience">
    <ExperienceMotion client:load></ExperienceMotion>
</section>
