---
import "../../styles/global.css"
import Contact from "../Contact";
---
<section class="w-full h-full overflow-hidden relative" id="cv">
    <div class="flex flex-col bg-gradient-to-b from-neutral-200 to-orange-600">
        <div class="flex flex-col gap-4 px-10 mt-10">
            <h2 class="text-orange-600 text-center text-3xl font-bold">Ready to Team Up?🔥</h2>
            <p class="text-white text-lg text-center">Let's Connect and Create Something Amazing </p>
            <p class="text-white text-center font-md text-base">I'm always excited to collaborate, whether it's for a project, a discussion, or just exchanging ideas.
                Don't hesitate to reach out-I'm here to connect and innovate together!
            </p>
        </div>
    
        <div class="w-full mb-20">
            <Contact/>
        </div>
    </div>
</section>