---
import "../styles/global.css";
import Layout from "../layouts/main.astro";
// Component Imports
import Button from "../components/Button.astro";
import Home from "../components/content/Home.astro";
import About from "@/components/content/About.astro";
import Experience from "@/components/content/Experience.astro";
import Project from "@/components/content/Project.astro";
import Footer from "@/components/content/Footer.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<div>
	<Layout>
		<Home />
		<About />
		<Experience />
		<Project />
		<Footer />
	</Layout>
</div>
